@charset "utf-8";
/* CSS Document */
table{
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;	
}
fieldset{
	border: 1px solid #cfcfcf;
	border.radius:5px;
	-moz-border-radius:5px;
 	-webkit-border-radius:5px;
	background-color:#eeeeee;
	margin-top:5px;
}
legend{
	font-size:13px;
	color:#303030;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;	
}
p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
}